<!DOCTYPE html>
<html>
  <head>
    <title>Hearthstone Deck Classifier</title>

    <!-- Angular -->
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>

    <!-- Angular Material and dependecies -->
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-aria.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-animate.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.js"></script>
    <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.css">

    <!-- Table view -->
    <script type="text/javascript" src="bower_components/angular-smart-table/dist/smart-table.js"></script>

    <!-- Angular controllers -->
    <script type="text/javascript" src="app/deck-builder.js"></script>

    <!-- Charts -->
    <script type="text/javascript" src="bower_components/Chart.js/Chart.js"></script>
    <script type="text/javascript" src="bower_components/angular-chart.js/dist/angular-chart.js"></script>
    <link rel="stylesheet" href="bower_components/angular-chart.js/dist/angular-chart.css">

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  </head>
  <body ng-app="deck-builder">
  <div class="container">
    <div class="page-header">
      <h1>Hearthstone Deck Classifier</h1>
    </div>

    <div ng-controller="DeckController">
      <div class="row">
        <div class="form-group col-md-8">
          <md-autocomplete 
            placeholder="Select a card to add to the deck."
            md-selected-item="selectedCard" 
            md-search-text="searchCardText" 
            md-items="item in getCardSuggestions()" 
            md-item-text="item.display" 
            md-min-length="3"
            md-selected-item-change="addToDeck()">
       
            <md-item-template>
              <span md-highlight-text="searchCardText">{{item.display}}</span>
            </md-item-template>
            <md-not-found>
              No cards found.
            </md-not-found>
       
          </md-autocomplete>
        </div>
  
        <div class="form-group col-md-4">
          <md-autocomplete 
            placeholder="Select hero class."
            md-selected-item="heroClass" 
            md-search-text="searchHeroClassText" 
            md-items="item in getHeroClassSuggestions()" 
            md-item-text="item.display" 
            md-selected-item-change="selectHeroClass()">
       
            <md-item-template>
              <span md-highlight-text="searchHeroClassText">{{item.display}}</span>
            </md-item-template>
            <md-not-found>
              No classes match.
            </md-not-found>
       
          </md-autocomplete>
        </div>
      </div>

			
      <br/>
      <h2>Deck cards</h2>
			<table st-table="displayedDeck" st-safe-src="deck" class="table table-striped">
				<thead>
				<tr ng-if="displayedDeck.length != 0">
					<th>Card name</th>
					<th>Count</th>
				</tr>
				</thead>
				<tbody>
				<tr ng-repeat="card in deck">
					<td>{{card['card_name']}}</td>
					<td>{{card['card_count']}}</td>
          <td>
            <img ng-src="{{card['img']}}" alt="Card image" height="130" width="90">
          </td>
					<td>
    				<button type="button" ng-click="removeFromDeck(card)" class="btn btn-sm btn-danger">
	    				<i class="glyphicon glyphicon-remove-circle"></i>
    		  	</button>
	  			</td>
				</tr>
				</tbody>
			</table>

      <br/>
      <h2>Classification</h2>
      <p>No data here yet.</p>
    </div>
  </div>
  </body>
</html>
